.bg {
  background-image: url(./../../public/glassesImage/background.jpg);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header{
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
}

.model {
  /* padding: 0 20%; */
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.item {
  position: relative;
}
.img_model {
  width: 250px;
  /* display: block;  */
}
.item_content {
  position: absolute;
  top: 80px;
  left: 60px;
}
.change_img {
  opacity: 0.6;
  width: 130px;
}
.title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: rgba(248, 170, 2, 0.568);
}
.title_top {
  color: rgb(70, 70, 206);
  /* padding: 0 11px; */
}
.title_bottom {
  color: rgb(243, 243, 243);
  font-weight: bold;
  font-size: 15px;
  padding: 0 11px;
}
.content {
  /* width: 80%; */
  border: 1px;
  background-color: rgb(176, 208, 218);
  padding: 20px 50px;
  margin: 0 150px;
  margin-top: 50px;
}
.btn {
  margin: 10px 30px;
  border: 1px solid;
}
.img_content {
  width: 100px;
}
